@{
	ViewData["Title"] = "Support";
}

<link rel="stylesheet" href="~/css/support-styles.css" type="text/css" asp-append-version="true" />
<div>
	<a href="https://github.com/MaXiMKnjsh">
		<img class="advertisement-block" src="~/images/github-ad.png" alt="Image" />
	</a>
	<div class="container">
		<div class="chat-block">
			<div class="messages-field">
				<div class="message received-message">
					<p>
						1Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad
						nulla placeat omnis pariatur vitae necessitatibus ipsam quis et
						veritatis.
					</p>
				</div>
				<div class="message sended-message">
					<p>
						2Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad
						nulla placeat omnis pariatur vitae necessitatibus ipsam quis et
						veritatis.
					</p>
				</div>
				<div class="message received-message">
					<p>
						3Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad
						nulla placeat omnis pariatur vitae necessitatibus ipsam quis et
						veritatis.
					</p>
				</div>
				<div class="message received-message">
					<p>
						4Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur ad
						nulla placeat omnis pariatur vitae necessitatibus ipsam quis et
						veritatis.
					</p>
				</div>
			</div>
			<div class="writing-field">
				<box-icon type="solid" name="send"></box-icon>
				<form action="#" method="post">
					<textarea name="new-message" id="new-message" cols="10" rows="3" placeholder="Your message">
			</textarea>
				</form>
			</div>
		</div>
		<div class="dialogs">
			@for (int i = 0; i < 10; i++)
			{
				<div class="dialog new-message">
					<p class="sender-name">
						Knjsh Maksim
					</p>
					<p class="sender-text">
						Test text text textaskfjkdsajfkladsjfkdjakfjadjfldasnlgbtextaskfjkdsajfkladsjfkdjakfjadjfldasnlgbtextaskfjkdsajfkladsjfkdjakfjadjfldasnlgb
					</p>
					<box-icon type='solid' name='message-rounded-check'></box-icon>
				</div>
			}
		</div>
	</div>
</div>