@using web_application_eAutoStore.DOMAIN.DTOs.Vehicles;
@{
	ViewData["Title"] = "MegaWheels";
	var vehicles = ViewBag.Vehicles as IEnumerable<VehicleDto>;
}

<link rel="stylesheet" href="~/css/home-styles.css" type="text/css" asp-append-version="true" />

<div class="page-container">
	<a href="https://t.me/maximknjsh">
		<img class="advertisement-block" src="~/images/telegram-ad.png" alt="Image" />
	</a>
	<a href="https://github.com/MaXiMKnjsh">
		<img class="advertisement-block" src="~/images/github-ad.png" alt="Image" />
	</a>
	<div class="latest-cars-block">
		<div class="latest-additions">
			@if (vehicles != null)
			{
				@foreach (var vehicle in vehicles)
				{
					@await Html.PartialAsync("~/Views/Shared/Partials/Card.cshtml", vehicle);
				}
			}
			<div class="button-more-container">
				<a class="button-more" asp-controller="Vehicles">&#9660;</a>
			</div>
		</div>

		@await Html.PartialAsync("~/Views/Shared/Partials/FiltersBlock.cshtml")

	</div>
</div>

@if(User.Identity.IsAuthenticated)
{
	@* script connection *@
	<script src="~/js/card-verification.js"></script>
}