<link rel="stylesheet" href="~/css/card-styles.css" type="text/css" asp-append-version="true" />

<div class="card" data-id="1">
    <img src="~/images/defaultcar.jpg" alt="Image" />
    <div class="card-price">
        <div><span>25 000 000</span><span>$</span></div>
    </div>
    <div class="card-descr">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta
        delectus facilis cupiditate perspiciatis provident aliquam dolor,
        eaque similique animi repellat optio deserunt laboriosam aut
        repudiandae minima, ea modi harum dolorum?
    </div>
    <div class="card-buttons">
        <button class="card-btn more-vehicle-btn">More</button>
        <button class="card-btn">Save</button>
    </div>
</div>