@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<link rel="stylesheet" href="~/css/filtersblock-styles.css" asp-append-version="true" />

<div class="filters">
	<form method="get" asp-controller="Vehicles">
		<h1>Filters</h1>
		<div class="filter-div">
			<label for="price-from">Price: </label>
			<div class="from-to-block">
				<input class="input-box"
					   type="text"
					   name="priceFrom"
					   id="price-from"
					   placeholder="From" />
				<span>-</span>
				<input class="input-box"
					   type="text"
					   name="priceTo"
					   id="price-to"
					   placeholder="To" />
				<span>$</span>
			</div>
		</div>
		<div class="filter-div">
			<label for="production-year-from">Production year: </label>
			<div class="from-to-block">
				<input class="input-box"
					   type="text"
					   name="yearFrom"
					   id="production-year-from"
					   placeholder="From" />
				<span>-</span>
				<input class="input-box"
					   type="text"
					   name="yearTo"
					   id="production-year-to"
					   placeholder="To" />
			</div>
		</div>
		<div class="filter-div">
			<label for="brand">Brand: </label>
			<div>
				<input class="input-box"
					   type="text"
					   name="brand"
					   id="brand"
					   placeholder="Name" />
			</div>
		</div>
		<div class="filter-div">
			<label for="model">Model: </label>
			<div>
				<input class="input-box"
					   type="text"
					   name="model"
					   id="model"
					   placeholder="Name" />
			</div>
		</div>
		<div class="filter-div">
			<label for="type">Car type:</label>
			<div>
				<select class="input-box select-input-box" id="type" name="type">
					<option value="0">Passenger</option>
					<option value="1">Motorcycles</option>
					<option value="2">Trucks</option>
					<option value="3">Special</option>
					<option value="5">Buses</option>
					<option value="5">Other</option>
				</select>
			</div>
		</div>
		<div class="filter-div">
			<label for="enginecapacityfrom">Engine capacity: </label>
			<div class="from-to-block">
				<input class="input-box"
					   type="text"
					   name="enginecapacityfrom"
					   id="enginecapacityfrom"
					   placeholder="From" />
				<span>-</span>
				<input class="input-box"
					   type="text"
					   name="enginecapacityto"
					   id="enginecapacityto"
					   placeholder="To" />
			</div>
		</div>
		<div class="filter-div">
			<label for="enginepowerfrom">Engine power: </label>
			<div class="from-to-block">
				<input class="input-box"
					   type="text"
					   name="enginepowerfrom"
					   id="enginepowerfrom"
					   placeholder="From" />
				<span>-</span>
				<input class="input-box"
					   type="text"
					   name="enginepowerto"
					   id="enginepowerto"
					   placeholder="To" />
			</div>
		</div>
		<div class="filter-div">
			<span>Status:</span>
			<div>
				<input type="radio" name="quality" value="0" id="status-new" />
				<label for="status-new">New</label>
				<input type="radio" name="quality" value="1" id="status-used" />
				<label for="status-used">Used</label>
				<input type="radio" name="quality" value="2" id="status-repairable" />
				<label for="status-repairable">Repairable</label>
			</div>
		</div>
		<div class="filter-div">
			<span>Transmission box:</span>
			<div>
				<input type="radio"
					   name="transmission"
					   value="0"
					   id="status-manual" />
				<label for="status">Manual </label>
				<input type="radio"
					   name="transmission"
					   value="1"
					   id="status-automatic" />
				<label for="status-automatic">Automatic </label>
				<input type="radio" name="transmission" value="2" id="status-robot" />
				<label for="status-robot">Robot </label>
			</div>
		</div>
		<div class="buttons-block">
			<input class="btn" type="reset" value="CLEAR" />
			<input class="btn" type="submit" value="SEARCH" />
		</div>
	</form>
</div>
