<link rel="stylesheet" href="~/css/settingsmodal-styles.css" asp-append-version="true" />

<div class="modal" id="modal">
    <div class="modal-box">
        <div class="modal-header">
            <h5>Settings</h5>
            <button class="close-modal-btn" id="close-button-main">&#10006</button>
        </div>
        <div class="modal-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate rem ab libero. Consectetur recusandae quas odio aspernatur mollitia eaque aperiam iure aliquam minus, modi vel sunt, cupiditate dolorem dolorum tempora, doloremque repellendus. Accusantium assumenda impedit veniam possimus beatae exercitationem ducimus temporibus sint soluta mollitia ab, quae commodi aut quas. Perspiciatis quas fugiat aut molestias quisquam dolor voluptatibus, deleniti illo iure dignissimos repellendus facilis eaque reprehenderit odio porro consequuntur, officiis est sed, libero quibusdam deserunt provident expedita tenetur! Commodi molestias cumque sapiente repellendus quis neque cupiditate perspiciatis inventore fuga dicta, iusto laborum magni qui facere quo aliquam optio voluptates necessitatibus facilis.
        </div>
        <div class="modal-footer">
            <button class="btn gray" id="close-button">
                Close
            </button>
            <button class="btn">
                Save
            </button>
        </div>
    </div>
</div>