<link rel="stylesheet" href="~/css/settings-styles.css" asp-append-version="true" />

<div class="modal-settings" id="modal-settings">
    <div class="modal-box">
        <div class="modal-header">
            <h5>Settings</h5>
            <button class="close-modal-btn" id="close-button-main">&#10006</button>
        </div>
        <div class="modal-body">
           
        </div>
        <div class="modal-footer">
            <button class="btn gray" id="close-button">
                Close
            </button>
            <button class="btn">
                Save
            </button>
        </div>
    </div>
</div>