<link rel="stylesheet" href="~/css/vehicleInfoPopUp.css" asp-append-version="true" />

<div id="modal-vehicle-info" class="modal">
    <div class="modal-box">
        <div class="modal-header">
            <h5>Информация о продаже</h5>
        </div>
        <div class="modal-body">
            <form id="vehicleInfoForm"> 

                <!-- Источник информации о платформе -->
                <div class="input-group">
                    <label for="platformSource">Откуда узнали о платформе:</label>
                    <select id="platformSource" name="platformSource" required>
                        <option value="ads">Реклама</option>
                        <option value="friends">Рекомендации друзей</option>
                        <option value="search">Поиск в интернете</option>
                        <option value="social">Социальные сети</option>
                    </select>
                </div>

                <!-- Вид продажи -->
                <div class="input-group">
                    <label for="saleType">Вид продажи:</label>
                    <select id="saleType" name="saleType" required>
                        <option value="full-payment">Полная сумма</option>
                        <option value="installment">Рассрочка</option>
                        <option value="leasing">Лизинг</option>
                        <option value="credit">Кредит</option>
                    </select>
                </div>

                <!-- Комментарий/отзыв -->
                <div class="input-group">
                    <label for="feedback">Комментарий / отзыв:</label>
                    <textarea id="feedback" name="feedback" placeholder="Напишите свой отзыв"></textarea>
                </div>

                <div class="modal-footer">
                    <button id="btnSubmitVehicleInfo" type="submit" class="btn btn-submit" >Отправить</button>
                    <button type="button" class="btn btn-cancel" id="btnCancelVehicleInfo">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/js/vehicleInfoPopUp.js"></script>
