@using web_application_eAutoStore.DOMAIN.DTOs.Vehicles

<link rel="stylesheet" href="~/css/vehiclereview-styles.css" asp-append-version="true" />

<div class="modal-carreview" id="modal-carreview">
	<div class="modal-box">
		<div class="modal-header">
			<h5>Review</h5>
			<button class="close-modal-btn" id="close-carreview">&#10006</button>
		</div>
		<div id="vehicle-review-body" class="modal-body">
			


		</div>
		<div class="modal-footer">
			<button class="btn gray" id="close-carreview-2">
				Close
			</button>
		</div>
	</div>
</div>
