<link rel="stylesheet" href="~/css/vehiclepreview-styles.css" asp-append-version="true" />

<div class="preview-block" id="preview-block">
	<div class="modal-box">
		<div class="modal-header">
			<h5>Preview</h5>
		</div>
		<div class="modal-body">
			<div id="photo-block">
				<img class="vehicle-image" src="~/images/defaultcar.jpg" alt="Image of vehicle" />
			</div>
			<div id="compulsory-fields-block">
				<div class="property-block">
					<label for="email">Owner's email: </label>
					<div>
						<input type="text" value="missing" disabled>
					</div>
				</div>
			</div>
			<div id="uncompulsory-fields-block">
			</div>
		</div>
		<div class="modal-footer">
		</div>
	</div>
</div>
