@{
    ViewData["Title"] = "MegaWheels";
}

<link rel="stylesheet" href="~/css/index-styles.css" type="text/css" asp-append-version="true" />

<div class="main-block">
    <div class="advertisement-block">

    </div>
    <div class="github-block">

    </div>
    <div class="latest-additions">

    </div>
</div>
