@{
	ViewData["Title"] = "MegaWheels";
}

<link rel="stylesheet" href="~/css/index-styles.css" type="text/css" asp-append-version="true" />

<div class="main-block">
	<a href="https://t.me/maximknjsh">
		<img class="advertisement-block" src="~/images/telegram-ad.png" alt="Image" />
	</a>
	<a href="https://github.com/MaXiMKnjsh">
		<img class="advertisement-block" src="~/images/github-ad.png" alt="Image" />
	</a>
	<div class="latest-cars-block">
		<div class="latest-additions">
			@for (int i = 0; i < 12; i++)
			{
				@await Html.PartialAsync("~/Views/Shared/Partials/Card.cshtml")
			}
			<div class="button-more-container">
				<a class="button-more" asp-controller="Vehicles">&#9660;</a>
			</div>
		</div>
		
		<div class="filters">
			<form method="get" asp-controller="Vehicles">
				<h1>Filters</h1>
				<div class="filter-div">
					<label for="price-from">Price: </label>
					<div class="from-to-block">
						<input class="input-box"
							   type="text"
							   name="price-from"
							   id="price-from"
							   placeholder="From" />
						<span>-</span>
						<input class="input-box"
							   type="text"
							   name="price-to"
							   id="price-to"
							   placeholder="To" />
						<span>$</span>
					</div>
				</div>
				<div class="filter-div">
					<label for="production-year-from">Production year: </label>
					<div class="from-to-block">
						<input class="input-box"
							   type="text"
							   name="production-year-from"
							   id="production-year-from"
							   placeholder="From" />
						<span>-</span>
						<input class="input-box"
							   type="text"
							   name="production-year-to"
							   id="production-year-to"
							   placeholder="To" />
					</div>
				</div>
				<div class="filter-div">
					<span>Status:</span>
					<div>
						<input type="radio" name="status" value="new" id="status-new" checked />
						<label for="status-new">New: </label>
						<input type="radio" name="status" value="used" id="status-used" />
						<label for="status-used">Used: </label>
					</div>
				</div>
				<div class="filter-div">
					<span>Transmission box:</span>
					<div>
						<input type="radio"
							   name="transmission"
							   value="manual"
							   id="status-manual"
							   checked />
						<label for="status">Manual </label>
						<input type="radio"
							   name="transmission"
							   value="automatic"
							   id="status-automatic" />
						<label for="status-automatic">Automatic </label>
						<input type="radio" name="transmission" value="robot" id="status-robot" />
						<label for="status-robot">Robot </label>
					</div>
				</div>
				<div class="buttons-block">
					<input class="btn" type="reset" value="CLEAR" />
					<input class="btn" type="submit" value="SEARCH" />
				</div>
			</form>
		</div>
	</div>
</div>
