.card {
    height: 281px;
    width: 228px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

.card-price {
    text-align: center;
}

.card-price > div {
    font-size: 18px;
    color: azure;
    display: inline-flex;
    padding: 0 10px;
    background-color: rgb(11, 138, 11);
    border-radius: 10px;
}

.card-descr {
    font-size:15px;
    height: 70px;
    overflow: hidden;
}

.card-btn {
    background-color: rgb(79, 245, 79);
    border: none;
    outline: none;
    flex:1;
    color: rgb(21, 21, 21);
    font-size: 15px;
    font-weight: 400;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 2px;
}
.save-vehicle-btn, .more-vehicle-btn, .del-vehicle-btn {
    flex: 4;
}

.card-btn:hover {
    background-color: rgb(9, 182, 9);
}
.card-buttons {
    position: relative;
    display: flex;
}

.card > img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.more-vehicle-btn {
    background-color: rgb(143, 201, 174);
}
.del-vehicle-btn {
    background-color: rgb(255, 84, 84);
}
.btn-delete-hover {
    background-color: rgb(235, 127, 127) !important;
}
.btn-saved {
    cursor: auto;
    background-color: rgb(66, 245, 149);
}
    .btn-hidden {
        display: none;
    }
.del-vehicle-btn:hover {
    background-color: rgb(196, 110, 110);
}
    .btn-saved:hover{
        background-color:none;
    }