.card {
    height: 281px;
    width: 228px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    position: relative;
    padding: 10px;
    margin: 10px 10px 10px 10px;
}

.card-price {
    text-align: center;
}

    .card-price > div {
        font-size: 18px;
        color: azure;
        display: inline-flex;
        padding: 0 10px;
        background-color: rgb(11, 138, 11);
        border-radius: 10px;
    }

.card-descr {
    font-size:15px;
    height: 75px;
    overflow: hidden;
}

.card-btn {
    background-color: rgb(79, 245, 79);
    border: none;
    outline: none;
    width: 100px;
    color: rgb(21, 21, 21);
    font-size: 15px;
    font-weight: 400;
    padding: 5px 5px 5px 5px;
    border-radius: 10px;
    cursor: pointer;
}


.card-btn:hover {
    background-color: rgb(9, 182, 9);
}
.card-buttons {
    position: relative;
}

.card > img {
    max-width: 100%;
    border-radius: 5px;
}
