.filters {
    background-color: rgb(247, 247, 247);
    max-width: 29%;
    min-width:240px;
    display: inline-flex;
    position: sticky;
    float: right;
    top: 132px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #328f00 1%,#f7f7f7 1%);
}

    .filters > form > h1 {
        text-align: center;
        font-weight: 600;
    }

.btn {
    margin-top: 10px;
    width: 45%;
    font-size: 15px;
    border-radius: 30px;
    background-color: green;
    color: white;
    height: 35px;
    border: none;
    cursor: pointer;
}


    .btn:hover {
        background-color: rgb(69, 129, 69);
    }

.filters {
    padding: 15px;
}

.filter-div > label {
    font-size: 17px;
}

.filter-div {
    margin-bottom: 10px;
}

.input-box{
    border: 1px solid gray;
    outline: none;
    width: 45%;
    font-size: 15px;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    border-color: gray;
    padding: 10px 30px 10px 10px;
    color: black;
}

.buttons-block {
    text-align: center;
}

.btn:hover {
    background-color: rgb(69, 129, 69);
}