.latest-additions {
    flex-grow: 1;
    width: 71%;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.advertisement-block {
    width: 100%;
    height: 100px;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.upper-header a {
    color: black;
}

.latest-cars-block {
    position: relative;
}

.button-more:hover {
    background-color: rgb(69, 129, 69);
}

.button-more {
    width: 100%;
    display: block;
    font-size: 15px;
    border-radius: 30px;
    background-color: green;
    color: white;
    height: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button-more-container {
    width: 100%;
}
