.latest-additions {
    flex-grow: 1;
    width: 71%;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.advertisement-block {
    width: 100%;
    height: 100px;
    background-color: green;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.upper-header a {
    color: black;
}

.filters {
    background-color: rgb(247, 247, 247);
    width: 29%;
    display: inline-flex;
    position: sticky;
    float: right;
    top: 132px;
    margin-top: 10px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #328f00 1%,#f7f7f7 1%);
}

.latest-cars-block {
    position: relative;
}

.filters > form > h1 {
    text-align: center;
    font-weight: 600;
}

.filter-div > label {
    font-size: 17px;
}

.filters {
    padding: 15px;
}

.filter-div {
    margin-bottom: 10px;
}

.from-to-block > .input-box {
    border: 1px solid gray;
    outline: none;
    width: 45%;
    font-size: 15px;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    border-color: gray;
    padding: 10px 30px 10px 10px;
    color: black;
}

.btn {
    margin-top: 10px;
    width: 45%;
    font-size: 15px;
    border-radius: 30px;
    background-color: green;
    color: white;
    height: 35px;
    border: none;
    cursor: pointer;
}


    .btn:hover {
        background-color: rgb(69, 129, 69);
    }

.buttons-block {
    text-align: center;
}

.button-more:hover {
    background-color: rgb(69, 129, 69);
}

.button-more {
    width: 100%;
    display: block;
    font-size: 15px;
    border-radius: 30px;
    background-color: green;
    color: white;
    height: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.button-more-container {
    width: 100%;
}
