.personal-info, .personal-advertisements, .favorite-vehicles-block {
    width: 50%;
    height: 455px;
    background: linear-gradient(to bottom, #328f00 5px,#f7f7f7 5px);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.favorite-vehicles-block {
    width: 90%;
    height:auto;
    display:flex;
    position: relative;
    padding-top:40px;
    flex-wrap:wrap;
}

.first-subblock {
    display: flex;
    flex-direction: row;
}
.second-subblock{
    display: flex;
    justify-content:center;
}

.input-box {
    border: 1px solid gray;
    outline: none;
    width: 100%;
    font-size: 15px;
    height: 30px;
    background: transparent;
    border-radius: 30px;
    border-color: gray;
    padding: 10px 30px 10px 10px;
    color: black;
    margin-bottom: 5px;
}

.btn {
    width: 48%;
    font-size: 15px;
    border-radius: 30px;
    background-color: green;
    color: white;
    height: 35px;
    border: none;
    cursor: pointer;
}

    .btn:hover {
        background-color: rgb(69, 129, 69);
    }

.buttons-block {
    text-align: center;
    margin-top: 10px;
}

label {
    padding-right: 10px;
}

.favorite-vehicles-block > h3{
    position:absolute;
    top: 10px;
    left:10px;
}
.save-vehicle-btn{
    display:none;
}