@using web_application_eAutoStore.DOMAIN.DTOs.Users
@using web_application_eAutoStore.DOMAIN.DTOs.Vehicles
@using web_application_eAutoStore.Models
@{
	ViewData["Title"] = "MegaWheels";
	var vehicles = ViewBag.VehiclesDtos as IEnumerable<VehicleDto>;
	var totalQuantity = (int)ViewBag.TotalQuantity;
	var portion = (int)ViewBag.Portion;
	var pagesQuantity = /* totalQuantity / portion + 1; */ 10;
	// todo
}

<link rel="stylesheet" href="~/css/vehicles-styles.css" type="text/css" asp-append-version="true" />

<div class="main-block">
	<div class="page-container">
		@if (User.Identity.IsAuthenticated)
		{
			<div class="add-block">
				<a asp-controller="Vehicles" asp-action="AddAdvertisement">
					<img src="~/images/add-ad.png" alt="Image" />
				</a>
			</div>
		}
		<div class="vehicles-block">
			@for (int i = 0; i < 12; i++)
			{
				@await Html.PartialAsync("~/Views/Shared/Partials/Card.cshtml")
			}
			<div class="pages-block">
				<a href="#">
					&#9668;
				</a>
				<span id="current-page">
					1
				</span>
				<span>/</span>
				<span id="total-page">
					@pagesQuantity
				</span>
				<a href="#">
					&#9658;
				</a>
			</div>
		</div>

		@await Html.PartialAsync("~/Views/Shared/Partials/FiltersBlock.cshtml")

	</div>
</div>
